@model IEnumerable<BelLHackathonSecurity.Controllers.UsersToCompaniesController.YourViewModel>

<h2>Joined Data</h2>

<table class="table">
    <thead>
        <tr>
            <th>Company ID</th>
            <th>Company Name</th>
            <th>Company Link</th>
            <th>Company Image</th>
            <th>User ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CompanyName</td>
                <td>@item.CompanyLink</td>
                <td>@item.CompanyImage</td>
                <td>@item.UserId</td>
            </tr>
        }
    </tbody>
</table>
